.lead {
    max-width: 984px;
    margin: 56px auto 0;
    position: relative;
}

.svg-container {
    position: relative;
    width: 100%;
    height: auto;
}

.svg-image {
    position: absolute;
    top: 90.21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
